#pagination {
	margin:0 auto; 
	width:auto;
	padding-top:10px;
	color:#000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.6em;
}

#pagination a {color:#000;text-decoration:none;
}

#pagination a:hover {color:#ff0000;
}

.pagtotal,
.pagfirst,
.pagprevisious,
.pagname,
.pagnext,
.paglast
{float:left; display: inline; margin:0; margin-left:10px;}

.pagtotal{

}

.pagfirst{

}

.pagprevisious{

}

.pagname{
border-left: 1px solid #ff0000;padding-left:10px;
}

.pagnext{

}

.paglast{

}