html, body, #page { height: 100%; }
 
body > #page {
	height: auto;
	min-height: 100%; }
 
body {
	font:100%/1.25 Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0; }
 
#page-body {
	margin:0 10px;
	padding-top:10px;
	width:auto; float:left;}
 
/* columns */
#sidebar1,#content {
	display: inline;
	float:left; margin-right:10px;}
 
#sidebar1 {
	font-size:12px;
	width:200px; }
	
#content {width:780px;}
/* header part of the admin */
#header {
	background: #FD4717 url(../images/admin/header-bg.jpg) repeat-x;
	height: 130px; }
 
	#header p {
		font-size: 10px;
		margin: 5px;
		text-align:right;
		text-transform: uppercase; }
 
	#header a {
		color:#fff;
		text-decoration:none; }
 
#logo {
	background: url(../images/admin/header-logo.jpg) no-repeat;
	height: 100%;
	margin-top: 0px; }
 
	#logo h1 {
		position:absolute;
		text-indent: -5000px; }
 
/***** Headings *****/
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin:0;
	padding:0; }
 
h1 {
	font-size:2em;
	letter-spacing:-1px;
	padding:30px 0 25px 0; }
 
h2 {
	font-size:1.5em;
	letter-spacing:-1px;
	padding:20px 0; }
 
h3 {
	font-size:1em;
	font-weight:bold; }
 
/***** Common Formatting *****/
p { }
 
p, ul, ol {
	margin:0;
	padding:0 0 1.25em 0; }
 
ul, ol { padding:0 0 1.25em 2.5em; }
 
blockquote {
	margin:1.25em;
	padding:1.25em 1.25em 0 1.25em; }
 
small { font-size:0.85em; }
 
img { border:0; }
 
sup {
	bottom:0.3em;
	position:relative;
	vertical-align:baseline; }
 
sub {
	bottom:-0.2em;
	position:relative;
	vertical-align:baseline; }
 
acronym, abbr {
	color:#990000;
	cursor:help; }
 
/***** FORM ELEMENTS *****/
/* 
Forms element like input field, select field, textarea can be set here.
We used only to force Font family and size.
If you wish, you can edit background, 
*/
form {
	margin:0;
	padding:0;
	/*display:inline;*/ }
 
	form div { padding: 10px; }
 
	form .button {
		background-color: #FD5520;
		border: 2px solid #F4380A;
		color: #FFF;
		padding: 2px 12px;
		text-transform: uppercase; 
		float:right; }
 
input, select, textarea { }
 
textarea {
	line-height:1.25;
	width:100%; }
 
fieldset {
	border-top: 2px solid #F4380A;
	border: none;
	padding:15px;
	width: 100%; }
 
legend {
	font-size:1.4em;
	font-weight:bold;
	padding:15px; }
 
label {
	cursor:pointer;
	display: block;
	width: 125px;
	}	
 
/***** Links *****/
a, a:link, a:visited {
	color:#000;
	text-decoration:none; }
 
a:hover { text-decoration:underline; }
 
/* Configuration */

#configmenu ul {
	list-style: none;
	margin: 0;
	padding-left: 20px; }
 
#configmenu li {
	background-image: url(../images/admin/bullet.gif);
	background-position: 0 0.45em;
	background-repeat: no-repeat;
	line-height: 1.6;
	list-style: none;
	padding:0px 0px 0px 20px; }
 
/* Listing module - cls_listing */
 
	#listingtable table, #listingtable tr, #listingtable td, #listingtable th {
		border: #FE4818 1px solid;
		border-collapse:collapse;
		padding:5px 5px;
		}
		
	#listingtable th {
	background: #FE4818 url(../images/admin/header-bg_small.jpg) repeat-x top;
	text-align:left; 
	height: 50px; } 
	
	#listingtable td.noborder { border: 0px;
		}	
	#listingtable td.small { font-size:10px;
		}
		 
/* Footer */
#footer {
	clear:both;
	font-size: 10px;
	text-align: center; }
 
	#footer a {
		color:#999;
		text-decoration:none;
		text-transform:uppercase; }
 
		#footer a:hover { text-decoration:underline; }
 
/***** Global Classes *****/
.clear { clear:both; }
 
/* CLEAR FIX*/
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden; }
 
.clearfix { display: inline-block; }
 
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
/* End hide from IE-mac */

 
/***** messages for error, success, warning and help *****/
.mHelp, .mInfo, .mWarning, .mError {	
	background-position: 0.1em;
	font-size:1.2em;
	margin: 5px;
	min-height: 50px;
	padding-left: 50px; }
 
.mHelp {
	background: #fff url(../images/icons/lightbulb_48.png) no-repeat;
	border: #ccc 2px solid;
	}
 
.mInfo {
	background: #fff url(../images/icons/accepted_48.png) no-repeat;
	border: #009933 2px solid;
	}
 
.mWarning {
	background: #fff url(../images/icons/warning_48.png) no-repeat;
	border: #CC9901 2px solid;
	}
 
.mError {
	background: #fff url(../images/icons/cancel_48.png) no-repeat;
	border: #cc0000 2px solid;
	}
	
.asc {
	background: url(../images/icons/arrowasc.png) no-repeat -5px;

	padding-right:5px;
	}
	
.desc {
	background: url(../images/icons/arrowdesc.png) no-repeat -5px ;

	padding-right:5px;
	}	
	

