/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com

<div id="page">
	<div id="main" class="clearfix">
	</div>
</div>

<div id="footer">
</div>
*/

html, body, #page {height: 100%;}

body > #page {height: auto; min-height: 100%;}

#content {padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;} 

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}

.clearfix {display: block;}
/* End hide from IE-mac */